<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pyChan</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Megrim|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../css/pychan.css">
  </head>
  <body>
    <div class="topbar">
      <div class="logo-container">
        <span class="logo">
          <i class="ion-ios-infinite-outline"></i>
        </span>
        <span class="logo-text">
          <a href="/">PyChan {% block head %}{% endblock %}</a>
        </span>
      </div>
      <div class="pull-right">
        <div class="topbar-item">
          <a href="/thread/new">NEW THREAD</a>
        </div>
      </div>
    </div>
    <div class="space"/>
      {% block body %}{% endblock %}
  </body>
</html>
